<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Créer un Emprunt</title>
</head>
<body>
  <h1>Emprunter {{ media.titre }}</h1>
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  git{% endif %}
  <form method="post">
    {% csrf_token %}
    <label for="membre">Sélectionner un membre :</label>
    <select name="membre" id="membre">
      {% for membre in membres %}
      <option value="{{ membre.id }}">{{ membre.nom }} {{ membre.prenom }}</option>
      {% endfor %}
    </select>
    <button type="submit">Emprunter</button>
  </form>
  <a href="{% url 'liste_medias' %}">Retour à la liste des médias</a>
</body>
</html>