<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Liste des Médias</title>
</head>
<body>
  <h2>Liste des Médias</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Type</th>
      <th>Disponible</th>
    </tr>
    </thead>
     <tbody>
            {% for media in medias %}
                <tr>
                    <td>{{ media.id }}</td>
                    <td>{{ media.titre }}</td>
                    <td>
                        {% if media.type_media == 'Livre' %}
                            Livre
                        {% elif media.type_media == 'CD' %}
                            CD
                        {% elif media.type_media == 'DVD' %}
                            DVD
                        {% elif media.type_media == 'Jeu' %}
                            Jeu de Plateau
                        {% else %}
                            Inconnu
                        {% endif %}
                    </td>
                    <td>
                        {% if media.disponible %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
  </table>
</body>
</html>